@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde-claro: #026635;
    --verde-escuro: #09493d;
    --branco--fraco: #E7E7E7;
    --azul-claro: #00bfff;
    --rosa: #ff1493;

    --font-title: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
}

#div-logo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo {
    height: 200px;;
}

#div-botoes {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

header {
    height: 100vh;
}

header::before {
    content: "";
    background-image: url(../images/walter_and_jesse.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}

ul {
    font-family: var(--font-body);
    color: var(--branco--fraco);
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

body {
    background-color: #998875;
}

h1 {
    font-family: var(--font-title);
    color: var(--verde-claro);
    font-size: 46px;
    font-weight: 800;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: var(--font-body);
    color: var(--verde-claro);
    font-size: 32px;
    font-weight: 600;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}

p {
    font-family: var(--font-body);
    color: var(--branco--fraco) ;
    font-size: 22px;
    font-weight: 500;
    -webkit-text-stroke-width: 0.65px;
    -webkit-text-stroke-color: black;
}

